a {
  text-decoration: none;
  /* color: white; */
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

.topnav {
  height: 60px;
  padding-top: 18px;
}

.navbar-brand {
  margin-left: 30px;
}

.navbtn {
  margin: 0 15px;
  width: 90px;
  /* height: 1px; */
  font-size: 14px;
  padding: 1px;
}

.nav-search-btn {
  margin-left: -10px;
}

#result {
  display: block;
  /* overflow-x: scroll; */
  white-space: nowrap;
}

#masterContainerCloseBtn {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: .5s;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.form-select {
  font-size: 8px;
  margin-top: 5px;
  width: 120px;
  cursor: pointer;
}

.input-area {
  max-width: 1000px;
  border: dotted 5px gray;
}

.drop-text {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 32px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: lightsteelblue;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.input-tag {
  height: 300px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.input-pointer {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 32px;
  text-align: center;
  height: 70px;
  line-height: 70px;
  color: #fff;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#results {
  max-width: 1000px;
  margin: 0 auto;
}

.mail-container:last-child {
  margin-bottom: 200px;
}
